html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.field {
    display: flex;
    margin: 0 auto;
    height: 600px;
    width: 900px;
    flex-wrap: wrap;
    background-color: #57a639;
}

.field-item {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 225px;
    border: 2px solid #bef574;
}
